body {
   background-color: #212529;
   /* background: url(''); */
}

#card2 {
   background: fixed url('quran.jpg');
   background-repeat: no-repeat;
   /* background-position: center; */
   /* background-size: cover; */
}

.form-select {
   right: 27px;
   width: 43%;

}

.form {
   right: 18px;
   width: 43%;
}


#form-select2 {
   right: 220px;
   width: 35%;

}

#form2 {
   right: 20px;
   width: 14%;
}

::-webkit-scrollbar {
   width: 4px;
   height: 2px;
}

::-webkit-scrollbar-thumb {
   background-color: rgb(192, 192, 192);
   border-radius: 10px;
   height: 200px;
}

::-webkit-scrollbar-track {
   background-color: rgb(17, 17, 17);
}

@media (max-width:851px) {
   #form-select2 {
      right: 230px;
      width: 40%;
   }

   #form2 {
      right: 20px;
      width: 24%;
   }
}

@media (max-width:567px) {
   #form-select2 {
      right: 160px;
      width: 45%;
   }

   #form2 {
      right: 20px;
      width: 33%;
   }
}